/*dropdown menu */

.dropdown {
    position: absolute !important;
    z-index: 1 !important;
    color: black;
    background-color: rgb(227, 230, 233);
    font-size: medium !important;
    
}
#dropdownMenuLink {
    color:black;
}

.dropdown-item {
    font-size: medium !important;
    margin: 0 !important;
}


h1 {
    text-align: center;

}
input {
    margin-left: 450px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
    background-color: rgb(224, 228, 227);
}

input:focus {
    outline: none;
}

#add {
    margin-left: 20px;
}

#todos {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin-left: 500px;
}

.remove {
    margin: 5px;
    position: relative; top: 8px;
}

input:task {
    border: 2px black;
    margin-left: 500px;
    padding-left: 500px;
}