body {
  background-image: linear-gradient(
    90deg,
    #020024 0%,
    #090979 35%,
    #00d4ff 100%
  );
}
/* Start of grid styling*/
.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.grid h1 {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  text-align: center;
  color: beige;
  font-family: "Courier New", Courier, monospace;
}

/* input and add button */
.input_and_add {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 2;
}

/* This the input field styling */
#task {
  height: 30px;
  border-radius: 8px;
  border-width: 2px;
  border-color: black;
  border-style: double;
  background-color: wheat;
}
#task::placeholder:hover {
  font-weight: 500;
  opacity: 0.5;
  color: rgb(0, 0, 0);
}

/* Add item button */
#add {
  margin-left: 20px;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
  border-style: groove;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 4px rgb(36, 36, 36);
}
#add:hover {
  background-color: lightgreen;
  border-style: ridge;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
}
#add:active {
  box-shadow: 1px 1px 1px;
}

/* Separating line */
.dividing_line {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 3;
}
/* Separating line */
hr {
  border: none;
  height: 4px;
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    #d7d7d7 35%,
    #989898 100%
  );
}

/* List items */
#todos {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 4;
  font-size: 2.2rem;
  color: beige;
  font-family: "Courier New", Courier, monospace;
}
/* Removing the bullet point for the list items in in the todo list */
li {
  list-style-type: none;
}

/* X buttons to delete an item in the list */
button.remove {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  box-shadow: 0px 0px 5px rgb(247, 242, 242);
  background-color: white;
}
button.remove:hover {
  font-weight: 900;
  font-size: 1.3rem;
  height: 37px;
  width: 37px;
  background-color: #000000;
  box-shadow: 0px 0px 15px yellow;
  color: wheat;
  border-color: white;
  border-width: 1px;
}
button.remove:active {
  box-shadow: 0px 0px 0px;
}

/* This is the styling for tablets in landscape orientation */
@media screen and (min-width: 600px) and (max-width: 900px) and (orientation: landscape) {
  #task {
    height: 40px;
}
  hr {
    height: 6px;
  }
  #todos {
    grid-column-start: 1;
    grid-column-end: span 3;
    margin-left: 15%;
  }

}
/* This is the styling for tablets in portrait orientation */
@media screen and (min-width: 600px) and (max-width: 900px) and (orientation: portrait) {
  .input_and_add {
    grid-column-start: 1;
    grid-column-end: span 3;
    margin-left: 15%;
  }
}

/* This is the styling for smartphones */
@media screen and (max-width: 600px) {
  .grid h1 {
    font-size: 1.6rem;
  }
  .input_and_add {
    grid-column-start: 1;
    grid-column-end: span 3;
  }
  #task {
  width: 80px;
  }
  #todos {
    grid-column-start: 1;
    grid-column-end: span 3;
  }

}
